body {
    background: #0bcc55;
    text-align: center;
    color: rgb(156, 18, 60);
}

.charts-container {
    display: flex;
    align-items: baseline;
    width: 500px;
    height: 300px;
    background: #62aecc;
    flex-direction: row;
    /* gap: 25px; */
    margin: 50px auto;
}

.chart {
    width: 30px;
    margin: 50px 0 0 25px;
}